@use '../modules/colors' as *;
@use '../modules/fonts' as font;

body {
  background: $white;
  font-family: font.$sans-serif;
  color: $black;
}
h1 {
  font-family: font.$serif;
  //   font-weight: 700;
  //   font-style: italic;
}
p {
  margin: 0;
}
