@use '../modules/colors' as *;
@use '../modules/variables' as *;
@use '../modules/mixins' as mixin;

// $bigger-screen: 1024px;

.projects {
  padding: 5vw 1rem 10vw;
  background-color: $black;
  color: $white;
  clip-path: polygon(0 10vw, 100% 0, 100% calc(100% - 10vw), 0 100%);

  @include mixin.mq {
    clip-path: polygon(0 5vw, 100% 0, 100% calc(100% - 5vw), 0 100%);
  }
}

.project {
  margin: 2rem auto;
  max-width: 600px;
  img {
    // width: clamp(250px, 40vw, 400px);
    width: 70%;
    margin: 0 auto;
    display: block;
    position: relative;
    z-index: 5;
  }

  @include mixin.mq($width: $biggest-scr) {
    max-width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 5fr;
    align-items: center;

    img {
      width: 400px;
      // width: 100%;
      // max-width: 600px;
      // max-height: 400%;
      width: clamp(300px, 30vw, 350px);
      flex: 0 0 auto;
      grid-column: 1 / 3;
      grid-row: 1 / -1;
    }
  }
}
.project-desc {
  background-color: $gray;
  padding: 2em 1em;
  border-radius: 1rem;
  transform: translateY(-2rem);
  z-index: 0;

  h2 {
    text-transform: uppercase;
    display: inline-block;
    border-bottom: 2px dashed $primary;
  }

  p {
    margin: 0.5em 0;
    line-height: 1.3em;
  }

  span {
    color: rgba($white, 0.8);
    font-size: 0.9em;
    text-decoration: underline dotted;
  }

  a {
    float: right;
  }

  @include mixin.mq($width: $biggest-scr) {
    padding: 1em 2em;
    padding-left: 20%;
    // transform: translateX(-2rem);
    transform: translateY(0);
    grid-column: 2 / 4;
    grid-row: 1 / -1;
  }
}
