@use './variables' as *;

@mixin underline($fc: currentColor) {
  text-decoration: none;
  position: relative;
  display: inline-block;

  &::after {
    position: absolute;
    height: 0.1em;
    content: "";
    left: 0.5em;
    right: -0.5em;
    bottom: -0.3em;
    background-color: $fc;
  }
}

@mixin mq($width: $bigger-scr) {
  @media (min-width: $width) {
    @content;
  }
}
